.logo {
  width: 40px;
  height: 40px;
}


.login-bg {
  background-image: url('../images/login-bg.jpeg');
  background-size: cover;
  height: 100vh;
}

.login-header {
    background: #d7d1d18f;
}

.blogs-round {
    background: #ffffffbd !important;
    border-radius: 20px !important;
}

.option-list {
    display: block !important;
}

.options-btn {
    border-radius: 20px !important;
    margin: 1em;
    color: #000 !important;
    background: #a3a2a294 !important;
    border: thin solid #ffffffad ;
}


.left-btn-active,
.right-btn-active,
.left-btn-inactive,
.right-btn-inactive {
  flex: 1 !important;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.left-btn-active {
    border: none;
    border-top: 1px solid #fff; 
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff; 
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.right-btn-active {
    border: none;
    border-top: 1px solid #fff; 
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff; 
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.left-btn-inactive {
    border: none;
    border-top: 1px solid #fff; 
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff; 
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  background: transparent;
}

.right-btn-inactive {
    border: none;
    border-top: 1px solid #fff; 
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff; 
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  background: transparent;
}

/*.btn-outline-primary.options-btn:active , .btn-outline-primary.options-btn:target, .btn-outline-primary.options-btn:visited,
.btn-outline-primary.options-btn:focus*/
.btn-check:active+.btn-outline-primary.options-btn, .btn-check:checked+.btn-outline-primary.options-btn, .btn-outline-primary.options-btn.active, .btn-outline-primary.options-btn.dropdown-toggle.show, .btn-outline-primary.options-btn:active{
    color: #000 !important;
    background-color: #fff !important;
    border-color: #fff !important;
}

.form-control {
    background-color: transparent !important;
}

/*
extra css
*/

.tab-center {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.tab-center .groupB {
    border: 1px solid #cdcdce;
    border-radius: 22px;
}

.tab-center input[type="radio"].toggle {
    display: none;
}

.tab-center input[type="radio"].toggle:checked+label {
    cursor: default;
    color: #fff;
    transition: color 200ms;
}

.tab-center input[type="radio"].toggle+label {
    cursor: pointer;
    min-width: 135px;
    position: relative;
    font-size: 13px;
}

.tab-center input[type="radio"].toggle.toggle-left+label {
    border-right: 0;
}

.tab-center input[type="radio"].toggle:checked+label:after {
    left: 0;
}

.tab-center input[type="radio"].toggle.toggle-left+label:after {
    left: 100%;
}

.tab-center input[type="radio"].toggle+label:after {
    background: #03007f;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
    width: 100%;
    z-index: -1;
    border-radius: 22px;
}

.underline-input {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 16px;
  border: none; /* Remove the default input border */
  border-bottom: 1px solid white; /* Add a white underline */
  background-color: transparent; /* Make the background transparent */
  outline: none; /* Remove the default input outline */
  color: white;
}

.others {
  display: flex;
  align-items: center;
}

.chat-icon {
  font-size: 24px; /* Change the size of the icon as needed */
  color: #fff; /* Change the outline color of the icon */
  margin-left: auto; /* Push the chat icon to the right */
  padding-right: 45px;
}

.transparent-btn {
    background: transparent;
    border: none;
}